.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #000000;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner-text {
  position: absolute;
  top: 180px;
  right: 100px;
  width: 500px;
}

.Banner-text h2 {
  font-size: xx-large;
}

.Banner-text p {
  text-align: justify;
  line-height: 2;
}

.bannerImage {
  max-height: 20rem;
}

.padding {
padding: 1rem 0.1rem;
}

.pageTittle {
  text-align: justify;
}

.saveButton {
  position: absolute !important;
  right: 3rem
}

@media (max-width: 1269px) {
  .padding{
    padding: 0.5rem 0.5rem 0.3rem 0.3rem;
    }
}

